* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 }

html {
  scroll-behavior: smooth;

}

body {
  background-color: antiquewhite;
     font-family: 'Russo One', sans-serif;
     font-size: 2vw;
}

header {
  padding: 40px 0 20px;
  text-align: center;
}

main {
  color: rgb(0, 140, 255);
  height: 100%;
}

.planet {
  display: flex;
  justify-content: space-between;
}

.mark {
  width: 20px;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
}

.planets:hover {
  cursor: pointer;
  color: #000;
  transition: all 0.7s;
}

.planets:hover>div>div {
  background: url(./img/plus.svg) no-repeat;
}

.planet:hover {
  height: 60vh;
  cursor: pointer;
  transition: all 0.7s;
}

.planet:hover>.mark {
  cursor: pointer;
  background: url(./img/xmark.svg) no-repeat;
}

.planets>.mercury:hover {
  background: center/40% url(img/mercury.png) no-repeat;
}

.planets>.venos:hover {
  background: center/40% url(img/venos.png) no-repeat;
}

.planets>.mars:hover {
  background: center/40% url(img/mars.png) no-repeat;
}

.planets>.earth:hover {
  background: center/40% url(img/earth.png) no-repeat;
}

.planets>.jupiter:hover {
  background: center/40% url(img/jupiter.png) no-repeat;
}

.planets>.saturn:hover {
  background: center/50% url(img/saturn.png) no-repeat;
}

.planets>.uranus:hover {
  background: center/60% url(img/uranus.png) no-repeat;
}

.planets>.neptune:hover {
  background: center/40% url(img/neptune.png) no-repeat;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.school,
.github {
  max-width: 15vw;
  padding: 20px 0;
}

@media (max-width: 1400px) {
 .container {
  width: 80%;
  }
}

@media (max-width: 1200px) {
  .planet:hover{
    height: 50vh;
   }
 }
 
@media (max-width: 900px) {
  .planet:hover{
    height: 25vh;
   }
 }