* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Russo One', sans-serif;

}

html {
  scroll-behavior: smooth;
}

body {
  background-color: antiquewhite;
}

header {
  padding: 40px 0 20px;
  text-align: center;
}

main {
  color: rgb(0, 140, 255);
}

.planet {
  display: flex;
  justify-content: space-between;
}

.mark {
  width: 20px;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
}

.planets:hover {
  cursor: pointer;
  color: #000;
  background-color: rgb(245, 235, 222);
  transition: all 0.7s;
}

.planets:hover>div>div {
  background: url(./img/plus.svg) no-repeat;
}

.planet:hover {
  height: 500px;
  cursor: pointer;
  transition: all 0.7s;
}

.planet:hover>.mark {
  cursor: pointer;
  background: url(./img/xmark.svg) no-repeat;
}

.planets>.mercury:hover {
  background: center/40% url(img/mercury.png) no-repeat;
}

.planets>.venos:hover {
  background: center/40% url(img/venos.png) no-repeat;
}

.planets>.mars:hover {
  background: center/40% url(img/mars.png) no-repeat;
}

.planets>.earth:hover {
  background: center/40% url(img/earth.png) no-repeat;
}

.planets>.jupiter:hover {
  background: center/40% url(img/jupiter.png) no-repeat;
}

.planets>.saturn:hover {
  background: center/50% url(img/saturn.png) no-repeat;
}

.planets>.uranus:hover {
  background: center/60% url(img/uranus.png) no-repeat;
}

.planets>.neptune:hover {
  background: center/40% url(img/neptune.png) no-repeat;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}


.school,
.github {
  max-width: 120px;
  padding: 20px 0;
}